{#{% extends 'front_base_old.html' %}#}
{##}
{#{% block head %}#}
{#    <meta name="csrf-token" content="{{ csrf_token }}">#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    <form action="" method="post">#}
{#        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td>用户名：</td>#}
{#                    <td><input type="text" name="username"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>密码：</td>#}
{#                    <td><input type="text" name="password"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="提交"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><a href="{% url 'front:signinowner' %}">我是商家</a></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td>#}
{#                        <ul>#}
{#                            {% for message in messages %}#}
{#                                {% if message.tags == 'info' %}#}
{#                                    <li style="color: pink;">{{ message }}</li>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </form>#}
{#{% endblock %}#}

{% extends 'front_base.html' %}

{% block Title %}
    用户登陆页面
{% endblock %}

{% block content %}
<form class="contact_form" action="#" method="post" name="contact_form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <ul>
        <li>
             <h2>用户登陆</h2>
             <span class="required_notification">* 表示必填项</span>
        </li>
        <li>
            <label for="name">*用户名:</label>
            <input type="text"  name="username" placeholder="Sunbest" required />
            <span class="form_hint">正确格式为：6~18个字符，可使用字母、数字、下划线，需以字母开头</span>
        </li>
        <li>
            <label for="name">*密码:</label>
            <input type="text"  name="password" required />
            <span class="form_hint">正确格式为：6~18个字符，可使用字母、数字、下划线</span>
        </li>
        <li>
            <button class="submit" type="submit">提交</button>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{% url 'front:signinowner' %}"><input name="登陆" type="button" id="btn1" title="登注册" value="商家登陆" style="height: 30px"/></a>
        </li>
    </ul>
</form>
{% endblock %}