{#{% extends 'base.html' %}#}

{#{% block body %}#}
{#    商家注册页面#}
{#    <br>#}
{#    <form action="" method="post">#}
{#        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
{#        <table>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td>用户名：</td>#}
{#                    <td><input type="text" name="username"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>手机：</td>#}
{#                    <td><input type="text" name="telephone"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>密码：</td>#}
{#                    <td><input type="text" name="password"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>重复密码：</td>#}
{#                    <td><input type="text" name="password_repeat"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>店铺名：</td>#}
{#                    <td><input type="text" name="shopname"></td>#}
{#                    <input type="hidden" value=100 name="credit">#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>信用积分：</td>#}
{#                    <td><input type="text" value=100 readonly name="credit"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="提交"></td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </form>#}
{#{% endblock %}#}

{% extends 'front_base.html' %}

{% block Title %}
    商家注册页面
{% endblock %}

{% block content %}
<form class="contact_form" action="#" method="post" name="contact_form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <ul>
        <li>
             <h2>商家注册</h2>
             <span class="required_notification">* 表示必填项</span>
        </li>
        <li>
            <label for="name">*姓名:</label>
            <input type="text"  name="username" placeholder="Sunbest" required />
            <span class="form_hint">正确格式为：6~18个字符，可使用字母、数字、下划线，需以字母开头</span>
        </li>
        <li>
            <label for="name">*密码:</label>
            <input type="text"  name="password" required />
            <span class="form_hint">正确格式为：6~18个字符，可使用字母、数字、下划线</span>
        </li>
        <li>
            <label for="name">*确认密码:</label>
            <input type="text"  name="password_repeat" required />
            <span class="form_hint">请保持两次密码一致！</span>
        </li>
        <li>
            <label for="name">*手机号码:</label>
            <input type="text"  name="telephone" placeholder="137xxxxxxxx" required pattern="^1([38]\d|5[0-35-9]|7[3678])\d{8}$"/>
            <span class="form_hint">正确格式为：6~18个字符，可使用字母、数字、下划线</span>
        </li>
        <li>
            <label for="name">*店铺名称:</label>
            <input type="text"  name="shopname" placeholder="快乐柠檬" required />
{#            <span class="form_hint"></span>#}
        </li>
        <input type="hidden" value=100 readonly name="credit">
{#        <li>#}
{#            <label for="email">电子邮件:</label>#}
{#            <input type="email" name="email" placeholder="sayingforever@163.com" required pattern=r"[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?"/>#}
{#            <span class="form_hint">正确格式为：sayingforever@163.com</span>#}
{#        </li>#}
{#        <li>#}
{#            <label for="website">网站:</label>#}
{#            <input type="url" name="website" placeholder="http://www.amonyous.com" required pattern="(http|https)://.+"/>#}
{#            <span class="form_hint">正确格式为：http://www.amonyous.com</span>#}
{#        </li>#}
{#        <li>#}
{#            <label for="message">个人简介:</label>#}
{#            <textarea name="introduction" cols="40" rows="6" placeholder=""></textarea>#}
{#        </li>#}
        <li>
            <button class="submit" type="submit">提交</button>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{% url 'front:signup' %}"><input name="注册" type="button" id="btn1" title="登注册" value="用户注册" style="height: 30px"/></a>
        </li>
    </ul>
</form>
{% endblock %}