{% extends 'front_base.html' %}

{% block body %}
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <table>
            <tbody>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" value={{ user.username }} name="username"></td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td><input type="text" value={{ user.telephone }} name="telephone"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="text" value={{ user.password }} readonly name="password"></td>
                </tr>
                <tr>
                    <td>性别（M/F）：</td>
                    <td><input type="" value={{ user.gender }} name="gender"></td>
                </tr>
                <tr>
                    <td>自我介绍：</td>
                    <td><input type="text" value={{ user.introduction }} name="introduction"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="提交"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}